---
const socials = [
  {
    network: "X (Formerly Twitter)",
    label: "X (Formerly Twitter)",
    username: "Rasen_bunkai",
    url: "https://x.com/Rasen_bunkai",
  },
  {
    network: "GitHub",
    label: "GitHub",
    username: "RasenBunkai",
    url: "https://github.com/RasenBunkai",
  },
  {
    network: "LinkedIn",
    label: "LinkedIn",
    username: "emiliano-salgado-martínez",
    url: "https://www.linkedin.com/in/emiliano-salgado-mart%C3%ADnez-0032732a3/",
  },
  // {
  //   network: "YouTube",
  //   label: "YouTube",
  //   username: "chalegonzalo",
  //   url: "https://www.youtube.com/@chalegonzalo",
  // },
];

/*  
  Icon provided by Radix Icons
  https://www.radix-ui.com/icons
*/

/*
  If you want to change the footer title you need to create a new svg file with the new title and replace the current one withot the width and height attributes to make it responsive.
*/
---

<footer
  class="w-full max-w-screen-2xl bg-foreground px-4 pt-20 flex flex-col gap-10 justify-between items-center"
> 
  <span
    class="text-white text-sm font-medium leading-none peer-disabled:cursor-not-allowed
  peer-disabled:opacity-70 flex items-center gap-2"
  >
    Salgado Martínez Emiliano, Ingeniero en Sistemas.
  </span>
  <div
    class="flex flex-wrap gap-5 h-full items-center justify-center pointer-events-auto"
  >
    {
      socials.map((social) => (
        <a
          href={social.url}
          target="_blank"
          rel="noopener noreferrer"
          class="group flex items-center text-muted-foreground text-sm font-medium leading-none hover:text-white transition-all duration-300 ease-in-out"
        >
          {social.label}
          <svg
            width="15"
            height="15"
            viewBox="0 0 15 15"
            class="opacity-0 group-hover:opacity-100 translate-x-[-1] group-hover:translate-x-1 group-hover:-rotate-45 transition-all duration-300 ease-in-out"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
              fill="currentColor"
              fill-rule="evenodd"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      ))
    }
  </div>
  <div class="w-full">
<svg viewBox="0 0 113 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.98 8.42C5.48667 8.42 5.92667 8.35667 6.3 8.23C6.68 8.10333 6.99 7.93 7.23 7.71C7.47667 7.48333 7.66 7.21667 7.78 6.91C7.9 6.60333 7.96 6.26667 7.96 5.9C7.96 5.16667 7.71667 4.60333 7.23 4.21C6.75 3.81667 6.01333 3.62 5.02 3.62H3.3V8.42H4.98ZM11.9 16H9.47C9.01 16 8.67667 15.82 8.47 15.46L5.43 10.83C5.31667 10.6567 5.19 10.5333 5.05 10.46C4.91667 10.3867 4.71667 10.35 4.45 10.35H3.3V16H0.61V1.54H5.02C6 1.54 6.84 1.64333 7.54 1.85C8.24667 2.05 8.82333 2.33333 9.27 2.7C9.72333 3.06667 10.0567 3.50667 10.27 4.02C10.4833 4.52667 10.59 5.08667 10.59 5.7C10.59 6.18667 10.5167 6.64667 10.37 7.08C10.23 7.51333 10.0233 7.90667 9.75 8.26C9.48333 8.61333 9.15 8.92333 8.75 9.19C8.35667 9.45667 7.90667 9.66667 7.4 9.82C7.57333 9.92 7.73333 10.04 7.88 10.18C8.02667 10.3133 8.16 10.4733 8.28 10.66L11.9 16ZM18.3353 11.62C17.622 11.6533 17.022 11.7167 16.5353 11.81C16.0486 11.8967 15.6586 12.01 15.3653 12.15C15.072 12.29 14.862 12.4533 14.7353 12.64C14.6086 12.8267 14.5453 13.03 14.5453 13.25C14.5453 13.6833 14.672 13.9933 14.9253 14.18C15.1853 14.3667 15.522 14.46 15.9353 14.46C16.442 14.46 16.8786 14.37 17.2453 14.19C17.6186 14.0033 17.982 13.7233 18.3353 13.35V11.62ZM12.6753 7.17C13.8553 6.09 15.2753 5.55 16.9353 5.55C17.5353 5.55 18.072 5.65 18.5453 5.85C19.0186 6.04333 19.4186 6.31667 19.7453 6.67C20.072 7.01667 20.3186 7.43333 20.4853 7.92C20.6586 8.40667 20.7453 8.94 20.7453 9.52V16H19.6253C19.392 16 19.212 15.9667 19.0853 15.9C18.9586 15.8267 18.8586 15.6833 18.7853 15.47L18.5653 14.73C18.3053 14.9633 18.052 15.17 17.8053 15.35C17.5586 15.5233 17.302 15.67 17.0353 15.79C16.7686 15.91 16.482 16 16.1753 16.06C15.8753 16.1267 15.542 16.16 15.1753 16.16C14.742 16.16 14.342 16.1033 13.9753 15.99C13.6086 15.87 13.292 15.6933 13.0253 15.46C12.7586 15.2267 12.552 14.9367 12.4053 14.59C12.2586 14.2433 12.1853 13.84 12.1853 13.38C12.1853 13.12 12.2286 12.8633 12.3153 12.61C12.402 12.35 12.542 12.1033 12.7353 11.87C12.9353 11.6367 13.192 11.4167 13.5053 11.21C13.8186 11.0033 14.202 10.8233 14.6553 10.67C15.1153 10.5167 15.6486 10.3933 16.2553 10.3C16.862 10.2 17.5553 10.14 18.3353 10.12V9.52C18.3353 8.83333 18.1886 8.32667 17.8953 8C17.602 7.66667 17.1786 7.5 16.6253 7.5C16.2253 7.5 15.892 7.54667 15.6253 7.64C15.3653 7.73333 15.1353 7.84 14.9353 7.96C14.7353 8.07333 14.552 8.17667 14.3853 8.27C14.2253 8.36333 14.0453 8.41 13.8453 8.41C13.672 8.41 13.5253 8.36667 13.4053 8.28C13.2853 8.18667 13.1886 8.08 13.1153 7.96L12.6753 7.17ZM29.3316 7.74C29.2649 7.84667 29.1949 7.92333 29.1216 7.97C29.0482 8.01 28.9549 8.03 28.8416 8.03C28.7216 8.03 28.5916 7.99667 28.4516 7.93C28.3182 7.86333 28.1616 7.79 27.9816 7.71C27.8016 7.62333 27.5949 7.54667 27.3616 7.48C27.1349 7.41333 26.8649 7.38 26.5516 7.38C26.0649 7.38 25.6816 7.48333 25.4016 7.69C25.1282 7.89667 24.9916 8.16667 24.9916 8.5C24.9916 8.72 25.0616 8.90667 25.2016 9.06C25.3482 9.20667 25.5382 9.33667 25.7716 9.45C26.0116 9.56333 26.2816 9.66667 26.5816 9.76C26.8816 9.84667 27.1849 9.94333 27.4916 10.05C27.8049 10.1567 28.1116 10.28 28.4116 10.42C28.7116 10.5533 28.9782 10.7267 29.2116 10.94C29.4516 11.1467 29.6416 11.3967 29.7816 11.69C29.9282 11.9833 30.0016 12.3367 30.0016 12.75C30.0016 13.2433 29.9116 13.7 29.7316 14.12C29.5582 14.5333 29.2982 14.8933 28.9516 15.2C28.6049 15.5 28.1749 15.7367 27.6616 15.91C27.1549 16.0767 26.5682 16.16 25.9016 16.16C25.5482 16.16 25.2016 16.1267 24.8616 16.06C24.5282 16 24.2049 15.9133 23.8916 15.8C23.5849 15.6867 23.2982 15.5533 23.0316 15.4C22.7716 15.2467 22.5416 15.08 22.3416 14.9L22.9116 13.96C22.9849 13.8467 23.0716 13.76 23.1716 13.7C23.2716 13.64 23.3982 13.61 23.5516 13.61C23.7049 13.61 23.8482 13.6533 23.9816 13.74C24.1216 13.8267 24.2816 13.92 24.4616 14.02C24.6416 14.12 24.8516 14.2133 25.0916 14.3C25.3382 14.3867 25.6482 14.43 26.0216 14.43C26.3149 14.43 26.5649 14.3967 26.7716 14.33C26.9849 14.2567 27.1582 14.1633 27.2916 14.05C27.4316 13.9367 27.5316 13.8067 27.5916 13.66C27.6582 13.5067 27.6916 13.35 27.6916 13.19C27.6916 12.95 27.6182 12.7533 27.4716 12.6C27.3316 12.4467 27.1416 12.3133 26.9016 12.2C26.6682 12.0867 26.3982 11.9867 26.0916 11.9C25.7916 11.8067 25.4816 11.7067 25.1616 11.6C24.8482 11.4933 24.5382 11.37 24.2316 11.23C23.9316 11.0833 23.6616 10.9 23.4216 10.68C23.1882 10.46 22.9982 10.19 22.8516 9.87C22.7116 9.55 22.6416 9.16333 22.6416 8.71C22.6416 8.29 22.7249 7.89 22.8916 7.51C23.0582 7.13 23.3016 6.8 23.6216 6.52C23.9482 6.23333 24.3516 6.00667 24.8316 5.84C25.3182 5.66667 25.8782 5.58 26.5116 5.58C27.2182 5.58 27.8616 5.69667 28.4416 5.93C29.0216 6.16333 29.5049 6.47 29.8916 6.85L29.3316 7.74ZM38.4706 9.69C38.4706 9.37 38.424 9.07 38.3306 8.79C38.244 8.50333 38.1106 8.25333 37.9306 8.04C37.7506 7.82667 37.5206 7.66 37.2406 7.54C36.9673 7.41333 36.6473 7.35 36.2806 7.35C35.5673 7.35 35.004 7.55333 34.5906 7.96C34.184 8.36667 33.924 8.94333 33.8106 9.69H38.4706ZM33.7606 11.18C33.8006 11.7067 33.894 12.1633 34.0406 12.55C34.1873 12.93 34.3806 13.2467 34.6206 13.5C34.8606 13.7467 35.144 13.9333 35.4706 14.06C35.804 14.18 36.1706 14.24 36.5706 14.24C36.9706 14.24 37.314 14.1933 37.6006 14.1C37.894 14.0067 38.1473 13.9033 38.3606 13.79C38.5806 13.6767 38.7706 13.5733 38.9306 13.48C39.0973 13.3867 39.2573 13.34 39.4106 13.34C39.6173 13.34 39.7706 13.4167 39.8706 13.57L40.5806 14.47C40.3073 14.79 40.0006 15.06 39.6606 15.28C39.3206 15.4933 38.964 15.6667 38.5906 15.8C38.224 15.9267 37.8473 16.0167 37.4606 16.07C37.0806 16.1233 36.7106 16.15 36.3506 16.15C35.6373 16.15 34.974 16.0333 34.3606 15.8C33.7473 15.56 33.214 15.21 32.7606 14.75C32.3073 14.2833 31.9506 13.71 31.6906 13.03C31.4306 12.3433 31.3006 11.55 31.3006 10.65C31.3006 9.95 31.414 9.29333 31.6406 8.68C31.8673 8.06 32.1906 7.52333 32.6106 7.07C33.0373 6.61 33.554 6.24667 34.1606 5.98C34.774 5.71333 35.464 5.58 36.2306 5.58C36.8773 5.58 37.474 5.68333 38.0206 5.89C38.5673 6.09667 39.0373 6.4 39.4306 6.8C39.824 7.19333 40.1306 7.68 40.3506 8.26C40.5773 8.83333 40.6906 9.49 40.6906 10.23C40.6906 10.6033 40.6506 10.8567 40.5706 10.99C40.4906 11.1167 40.3373 11.18 40.1106 11.18H33.7606ZM44.8542 7C45.0609 6.79333 45.2776 6.60333 45.5042 6.43C45.7376 6.25 45.9809 6.1 46.2342 5.98C46.4942 5.85333 46.7709 5.75667 47.0642 5.69C47.3576 5.61667 47.6776 5.58 48.0242 5.58C48.5842 5.58 49.0809 5.67667 49.5142 5.87C49.9476 6.05667 50.3076 6.32333 50.5942 6.67C50.8876 7.01 51.1076 7.42 51.2542 7.9C51.4076 8.37333 51.4842 8.89667 51.4842 9.47V16H49.0142V9.47C49.0142 8.84333 48.8709 8.36 48.5842 8.02C48.2976 7.67333 47.8609 7.5 47.2742 7.5C46.8476 7.5 46.4476 7.59667 46.0742 7.79C45.7009 7.98333 45.3476 8.24667 45.0142 8.58V16H42.5442V5.74H44.0542C44.3742 5.74 44.5842 5.89 44.6842 6.19L44.8542 7ZM55.2203 0.569999C55.5403 1.09667 55.757 1.64667 55.8703 2.22C55.9836 2.78667 55.9936 3.35 55.9003 3.91C55.807 4.46333 55.6103 4.99667 55.3103 5.51C55.017 6.01667 54.6203 6.47333 54.1203 6.88L53.3403 6.41C53.2736 6.37 53.227 6.32333 53.2003 6.27C53.1736 6.21 53.1603 6.15333 53.1603 6.1C53.167 6.04 53.1803 5.98333 53.2003 5.93C53.227 5.87667 53.2603 5.83 53.3003 5.79C53.4403 5.62333 53.5736 5.40333 53.7003 5.13C53.827 4.85667 53.9136 4.55 53.9603 4.21C54.0136 3.87 54.007 3.50667 53.9403 3.12C53.8803 2.73333 53.7303 2.34667 53.4903 1.96C53.377 1.76667 53.3436 1.6 53.3903 1.46C53.4436 1.31333 53.5536 1.21 53.7203 1.15L55.2203 0.569999ZM63.7456 7.74C63.679 7.84667 63.609 7.92333 63.5356 7.97C63.4623 8.01 63.369 8.03 63.2556 8.03C63.1356 8.03 63.0056 7.99667 62.8656 7.93C62.7323 7.86333 62.5756 7.79 62.3956 7.71C62.2156 7.62333 62.009 7.54667 61.7756 7.48C61.549 7.41333 61.279 7.38 60.9656 7.38C60.479 7.38 60.0956 7.48333 59.8156 7.69C59.5423 7.89667 59.4056 8.16667 59.4056 8.5C59.4056 8.72 59.4756 8.90667 59.6156 9.06C59.7623 9.20667 59.9523 9.33667 60.1856 9.45C60.4256 9.56333 60.6956 9.66667 60.9956 9.76C61.2956 9.84667 61.599 9.94333 61.9056 10.05C62.219 10.1567 62.5256 10.28 62.8256 10.42C63.1256 10.5533 63.3923 10.7267 63.6256 10.94C63.8656 11.1467 64.0556 11.3967 64.1956 11.69C64.3423 11.9833 64.4156 12.3367 64.4156 12.75C64.4156 13.2433 64.3256 13.7 64.1456 14.12C63.9723 14.5333 63.7123 14.8933 63.3656 15.2C63.019 15.5 62.589 15.7367 62.0756 15.91C61.569 16.0767 60.9823 16.16 60.3156 16.16C59.9623 16.16 59.6156 16.1267 59.2756 16.06C58.9423 16 58.619 15.9133 58.3056 15.8C57.999 15.6867 57.7123 15.5533 57.4456 15.4C57.1856 15.2467 56.9556 15.08 56.7556 14.9L57.3256 13.96C57.399 13.8467 57.4856 13.76 57.5856 13.7C57.6856 13.64 57.8123 13.61 57.9656 13.61C58.119 13.61 58.2623 13.6533 58.3956 13.74C58.5356 13.8267 58.6956 13.92 58.8756 14.02C59.0556 14.12 59.2656 14.2133 59.5056 14.3C59.7523 14.3867 60.0623 14.43 60.4356 14.43C60.729 14.43 60.979 14.3967 61.1856 14.33C61.399 14.2567 61.5723 14.1633 61.7056 14.05C61.8456 13.9367 61.9456 13.8067 62.0056 13.66C62.0723 13.5067 62.1056 13.35 62.1056 13.19C62.1056 12.95 62.0323 12.7533 61.8856 12.6C61.7456 12.4467 61.5556 12.3133 61.3156 12.2C61.0823 12.0867 60.8123 11.9867 60.5056 11.9C60.2056 11.8067 59.8956 11.7067 59.5756 11.6C59.2623 11.4933 58.9523 11.37 58.6456 11.23C58.3456 11.0833 58.0756 10.9 57.8356 10.68C57.6023 10.46 57.4123 10.19 57.2656 9.87C57.1256 9.55 57.0556 9.16333 57.0556 8.71C57.0556 8.29 57.139 7.89 57.3056 7.51C57.4723 7.13 57.7156 6.8 58.0356 6.52C58.3623 6.23333 58.7656 6.00667 59.2456 5.84C59.7323 5.66667 60.2923 5.58 60.9256 5.58C61.6323 5.58 62.2756 5.69667 62.8556 5.93C63.4356 6.16333 63.919 6.47 64.3056 6.85L63.7456 7.74ZM74.228 3.68V7.96H79.648V10.11H74.228V16H71.528V1.54H80.648V3.68H74.228ZM86.1077 5.58C86.8677 5.58 87.5577 5.70333 88.1777 5.95C88.8043 6.19667 89.3377 6.54667 89.7777 7C90.2243 7.45333 90.5677 8.00667 90.8077 8.66C91.0477 9.31333 91.1677 10.0433 91.1677 10.85C91.1677 11.6633 91.0477 12.3967 90.8077 13.05C90.5677 13.7033 90.2243 14.26 89.7777 14.72C89.3377 15.18 88.8043 15.5333 88.1777 15.78C87.5577 16.0267 86.8677 16.15 86.1077 16.15C85.341 16.15 84.6443 16.0267 84.0177 15.78C83.391 15.5333 82.8543 15.18 82.4077 14.72C81.9677 14.26 81.6243 13.7033 81.3777 13.05C81.1377 12.3967 81.0177 11.6633 81.0177 10.85C81.0177 10.0433 81.1377 9.31333 81.3777 8.66C81.6243 8.00667 81.9677 7.45333 82.4077 7C82.8543 6.54667 83.391 6.19667 84.0177 5.95C84.6443 5.70333 85.341 5.58 86.1077 5.58ZM86.1077 14.25C86.961 14.25 87.591 13.9633 87.9977 13.39C88.411 12.8167 88.6177 11.9767 88.6177 10.87C88.6177 9.76333 88.411 8.92 87.9977 8.34C87.591 7.76 86.961 7.47 86.1077 7.47C85.241 7.47 84.5977 7.76333 84.1777 8.35C83.7643 8.93 83.5577 9.77 83.5577 10.87C83.5577 11.97 83.7643 12.81 84.1777 13.39C84.5977 13.9633 85.241 14.25 86.1077 14.25ZM95.552 1.14V16H93.082V1.14H95.552ZM100.573 5.74V16H98.093V5.74H100.573ZM100.913 2.75C100.913 2.96333 100.87 3.16333 100.783 3.35C100.696 3.53667 100.58 3.7 100.433 3.84C100.293 3.98 100.126 4.09333 99.933 4.18C99.7396 4.26 99.533 4.3 99.313 4.3C99.0996 4.3 98.8963 4.26 98.703 4.18C98.5163 4.09333 98.353 3.98 98.213 3.84C98.073 3.7 97.9596 3.53667 97.873 3.35C97.793 3.16333 97.753 2.96333 97.753 2.75C97.753 2.53 97.793 2.32333 97.873 2.13C97.9596 1.93667 98.073 1.77 98.213 1.63C98.353 1.49 98.5163 1.38 98.703 1.3C98.8963 1.21333 99.0996 1.17 99.313 1.17C99.533 1.17 99.7396 1.21333 99.933 1.3C100.126 1.38 100.293 1.49 100.433 1.63C100.58 1.77 100.696 1.93667 100.783 2.13C100.87 2.32333 100.913 2.53 100.913 2.75ZM107.631 5.58C108.391 5.58 109.081 5.70333 109.701 5.95C110.328 6.19667 110.861 6.54667 111.301 7C111.748 7.45333 112.091 8.00667 112.331 8.66C112.571 9.31333 112.691 10.0433 112.691 10.85C112.691 11.6633 112.571 12.3967 112.331 13.05C112.091 13.7033 111.748 14.26 111.301 14.72C110.861 15.18 110.328 15.5333 109.701 15.78C109.081 16.0267 108.391 16.15 107.631 16.15C106.864 16.15 106.168 16.0267 105.541 15.78C104.914 15.5333 104.378 15.18 103.931 14.72C103.491 14.26 103.148 13.7033 102.901 13.05C102.661 12.3967 102.541 11.6633 102.541 10.85C102.541 10.0433 102.661 9.31333 102.901 8.66C103.148 8.00667 103.491 7.45333 103.931 7C104.378 6.54667 104.914 6.19667 105.541 5.95C106.168 5.70333 106.864 5.58 107.631 5.58ZM107.631 14.25C108.484 14.25 109.114 13.9633 109.521 13.39C109.934 12.8167 110.141 11.9767 110.141 10.87C110.141 9.76333 109.934 8.92 109.521 8.34C109.114 7.76 108.484 7.47 107.631 7.47C106.764 7.47 106.121 7.76333 105.701 8.35C105.288 8.93 105.081 9.77 105.081 10.87C105.081 11.97 105.288 12.81 105.701 13.39C106.121 13.9633 106.764 14.25 107.631 14.25Z" fill="url(#paint0_linear_60_114)"/>
<defs>
<linearGradient id="paint0_linear_60_114" x1="-1" y1="6" x2="114" y2="6" gradientUnits="userSpaceOnUse">
<stop stop-color="#56EBC5"/>
<stop offset="1" stop-color="#BB76E0"/>
</linearGradient>
</defs>
</svg>

  </div>
</footer>


